:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 4px 4px rgb(0 0 0 / 0.5);
  --cream: #FCE3C1;
  --shadow2: 0 4px 4px rgb(255, 255, 255);
  --ijo: #B0BA9F;
  --ijodaun: #326E35;
}

@font-face /*perintah untuk memanggil font eksternal*/
  {
    font-family: 'Bellarosta'; /*memberikan nama bebas untuk font*/
    src: url('../fonts/Bellarosta-Bellarosta.ttf');/*memanggil file font eksternalnya di folder nexa*/
  }
@font-face /*perintah untuk memanggil font eksternal*/
  {
    font-family: 'Bierang Free'; /*memberikan nama bebas untuk font*/
    src: url('../fonts/Bierang-Free-Bierang-Free.ttf');/*memanggil file font eksternalnya di folder nexa*/
  }

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
}

#popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 99;
  min-height: 100vh;
  transition: transform 4s ease, opacity 4s ease;
}

#popup h2 {
  color: white;
  font-family: "Averia Serif Libre", serif;
  font-size: 2.5rem;
  text-shadow: var(--shadow);
  margin-top: 30rem;
}

#popup h1 {
  font-family: "Bierang Free";
  font-size: 4rem;
  font-weight: 600;
  color: white;
  text-shadow: var(--shadow);
}

#popup h4 {
  font-size: 1.6rem;
  font-family: "Averia Serif Libre", serif;
  color: white;
  text-shadow: var(--shadow);
  font-weight: 600;
}

#popup button {
  color: white;
  background-color: #326E35;
  box-shadow: var(--shadow);
  border-radius: 30px;
  font-size: 1.6rem;
}

#popup button:hover {
  background-color: white;
  color: black;
}

.hero {
  background-image: url(../images/img-bg.jpeg);
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
  min-height: 100vh;
}

.hero .text-center {
  margin-top: 115px;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h2 {
  color: white;
  font-family: "Averia Serif Libre", serif;
  font-size: 2.5rem;
  padding-top: 20rem;
}

.hero h1 {
  font-family: "Bierang Free";
  font-size: 4rem;
  font-weight: 600;
  color: white;
}

.hero h4 {
  font-size: 1.6rem;
  font-family: "Averia Serif Libre", serif;
  color: white;
}

.hero main p {
  font-size: 1.6rem;
  font-family: "Averia Serif Libre", serif;
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
  z-index: 3;
}

.mynavbar .offcanvas {
  height: 50vh;
}

.mynavbar .navbar-brand {
  font-family: "Averia Serif Libre", serif;
  font-size: 2rem;
  font-weight: bold;
}

.mynavbar .offcanvas-title {
  font-family: "Averia Serif Libre", serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}

.mynavbar .nav-link {
  /* font-weight: 600; */
  text-transform: uppercase;
  font-family: "Averia Serif Libre", serif;
  color: black;
  background-color: white;
}

.mynavbar .nav-link:hover {
  background-color: var(--ijodaun);
  color: white;
  border: 4px solid black;
}

.offcanvas-body a {
  color: white;
}

.stickyyy {
  width: 100vw;
  position: fixed;
  top: 0;
}

.home {
  background-image: url(../images/img-bg2-kasihlite02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--cream);
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 5rem;
}

.home a {
  color: white;
  background-color: var(--ijodaun);
  /* box-shadow: var(--shadow); */
  border-radius: 30px;
  font-size: 1.6rem;
  position: relative;
  z-index: 2;
}

.home a:hover {
  background-color: white;
  color: black;
  border: 4px solid black;
}

.home h2,
.info h2,
.story h2,
.gallery h2 {
  color: black;
  font-family: "Updock", cursive;
  font-size: 5rem;
  font-weight: 600;
}

.rsvp-ucapan {
  color: black;
  font-family: "Updock", cursive;
  font-size: 5rem;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home h5 {
  color: black;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Philosopher", sans-serif;
}

.home p {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  font-family: "Averia Serif Libre", serif;
}

.home .couple {
  margin-top: 50px;
}

.home .couple h3 {
  font-family: "Sacramento";
  font-size: 2.4rem;
  color: #0457bb;
  font-weight: bold;
}

.home .couple img {
  width: 100%;
  z-index: 2;
  position: relative;
}

.home .container-isi-home {
  position: relative;
  /* z-index: 2; */
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
}

.home .heart i {
  margin: auto;
  color: var(--pink);
}

.font-esthetic-1 {
  font-family: "Bierang Free";
  font-weight: bold;
  color: #000000 !important;
  padding-top: 1rem;
  position: relative;
  z-index: 2;
}
.font-esthetic-2 {
  font-family: "Bierang Free";
  font-weight: bold;
  color: #000000 !important;
  padding-top: 1rem;
  position: relative;
  z-index: 2;
}

.font-arabic {
  font-family: "Noto Naskh Arabic", serif !important;
  color: #000000 !important;
}

.info {
  background-image: url(../images/img-bg1-kasihlite02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--cream);
  color: black;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.info .container-isi {
  position: relative;
  /* z-index: 2; */
}

.info .maps {
  border-radius: 3%;
  padding-top: 2rem;
}

.info .alamat {
  font-size: 1.6rem;
  color: black;
  font-weight: 500;
  font-family: "Averia Serif Libre", serif;
}

.info .description {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  font-family: "Averia Serif Libre", serif;
  position: relative;
  z-index: 2;
}

.info .card {
  background: none;
  /* background-color: none; */
  /* background-color: white; */
  color: black !important;
  border: none;
  z-index: 2;
}

.info .card-header {
  border: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  /* background-color: white; */
  color: black;
  font-size: 2rem;
  font-family: "Philosopher", sans-serif;
  z-index: 2;
}

.info .card-body {
  font-size: 1.6rem;
  background: none;
  color: black;
  border: none;
  font-weight: 600;
  font-family: "Averia Serif Libre", serif;
  z-index: 2;
}

.info .card-footer {
  border: none;
  background: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  font-family: "Averia Serif Libre", serif;
  z-index: 2;
}

.info a {
  color: white;
  background-color: var(--ijodaun);
  border-radius: 30px;
  font-size: 1.6rem;
}

.info a:hover {
  background-color: white;
  color: black;
  border: 4px solid black;
}

.daun-sampingkanan-info {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 81,9%;
  margin-top: -90px;
  /* width: 80px; */
  height: 200px;
}

.daun-sampingkiri-info {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -90px;
  /* width: 80px; */
  height: 200px;
}

.daun-samping1-info {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 81,9%;
  margin-top: 10px;
  /* width: 60px; */
  height: 300px;
}

.daun-samping2-info {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 420px;
  /* width: 60px; */
  height: 300px;
}

.story {
  background-image: url(../images/img-background-2.png);
}

.story,
.gallery,
.rsvp,
.penutup {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.story span {
  text-transform: uppercase;
  color: black;
  font-size: 1rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
  font-weight: 900;
  font-family: "Philosopher", sans-serif;
}

.story .span1 {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
  font-weight: 900;
}

.story .p1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  font-family: "Averia Serif Libre", serif;
}

.story p,
.rsvp p {
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
  font-family: "Averia Serif Libre", serif;
  position: relative;
  z-index: 2;
}

.gallery span {
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
  font-weight: 900;
  font-family: "Philosopher", sans-serif;
}

.gallery p {
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
  font-family: "Averia Serif Libre", serif;
}

.daun-sampingkanan-gallery {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 81,9%;
  margin-top: -100px;
  /* width: 100px; */
  height: 200px;
}

.daun-sampingkiri-gallery {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -100px;
  /* width: 100px; */
  height: 200px;
}

.img-fluid-foto {
  width: 100%;
  /* height: 500px; */
  /* height: 150px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gifts {
  background-image: url(../images/img-bg1-kasihlite02.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
  padding-top: 0;
}

.gifts .container-isi-gift {
  position: relative;
  /* z-index: 2; */
}

.gifts h2 {
  color: black;
  font-family: "Updock", cursive;
  font-size: 5rem;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.gifts span {
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
  font-weight: 900;
  font-family: "Philosopher", sans-serif;
  position: relative;
  z-index: 2;
  padding-top: 5rem;
}

.gifts p {
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
  font-family: "Averia Serif Libre", serif;
  position: relative;
  z-index: 2;
}

.gifts .card-text {
  font-size: 3rem;
  font-weight: 700;
  color: black;
  font-family: "Averia Serif Libre", serif;
}

.gifts .card-text-name {
  font-size: 3rem;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  font-family: "Averia Serif Libre", serif;
}

.gifts button {
  /* background-color: #158F0A; */
  background-color: var(--ijodaun);
  color: white;
  border-radius: 50px;
}

.gifts button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.gifts .card-body {
  background-color: white;
  z-index: 3;
  position: relative;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline-heading h3 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--bg);
  font-family: "Pacifico", cursive;
}

.timeline-heading span {
  font-size: 1.6rem;
  font-weight: bold;
}

.timeline-body {
  font-size: 1.6rem;
  font-family: "Averia Serif Libre", serif;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 2px solid var(--bg);
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid var(--bg);
  border-right: 0 solid var(--bg);
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-image: url(../images/img-bg2-kasihlite02.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.rsvp {
  background-image: url(../images/img-bg2-kasihlite02.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.rsvp h2 {
  font-size: 4.5rem;
}

.rsvp p {
  color: black;
}

.rsvp form label {
  color: black;
  font-size: 1.6rem;
}

.rsvp button {
  background-color: white;
  color: #0457bb;
  border: 1px solid white;
  font-size: 1.6rem;
}

.rsvp button:hover {
  background-color: #0457bb;
  color: white;
  border: 2px solid white;
}

.rsvp .container-isi-rsvp {
  position: relative;
  /* z-index: 2; */
}

.daun-sampingkanan-rsvp {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 81,9%;
  margin-top: -130px;
  /* width: 80px; */
  height: 230px;
}

.daun-sampingkiri-rsvp {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -130px;
  /* width: 80px; */
  height: 230px;
}

footer {
  padding: 3rem;
  background-image: url(../images/img-bg2-kasihlite02.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  letter-spacing: 0.5px;
}

footer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.block {
  font-size: 1.5rem;
}

.penutup {
  background-image: url(../images/img-bg1-kasihlite02.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.penutup p {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  font-family: "Averia Serif Libre", serif;
  position: relative;
  z-index: 2;
}

.penutup h5 {
  color: black;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Philosopher", sans-serif;
  position: relative;
  z-index: 2;
}

.penutup h3 {
  color: black;
  font-family: "Bierang Free";
  font-size: 4rem;
  font-weight: 600;
  position: relative;
  z-index: 2;
  padding-top: 2rem;
}

.penutup .container-isi-penutup {
  position: relative;
  /* z-index: 2; */
}

.bunga-pojokkiri-penutup {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -50px;
  width: 90px;
  height: 150px;
}

.bunga-pojokkanan-penutup {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 81,9%;
  margin-top: -50px;
  width: 90px;
  height: 150px;
}

.img-crop-1 {
  width: 14rem;
  height: 14rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
}

.img-crop-1 > img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.img-crop-2 {
  width: 14rem;
  height: 14rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
}

.img-crop-2 > img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.img-crop {
  width: 14rem;
  height: 14rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
}

.img-crop > img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.line {
  height: 5px;
  border-radius: 10px;
  width: 55%;
  background-color: rgb(0, 0, 0);
  animation: line 2s infinite alternate;
  position: relative;
  z-index: 3;
}

@keyframes line {
  to {
    width: 65%;
  }
}

.line-hero {
  height: 5px;
  border-radius: 10px;
  width: 85%;
  background-color: rgb(255, 255, 255);
  animation: line 2s infinite alternate;
  position: relative;
  z-index: 3;
}

@keyframes line-hero {
  to {
    width: 75%;
  }
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  border: pointer;
  color: #326E35;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  z-index: 3;
}

.arrow-icon-wrapper {
  position: fixed;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  bottom: 8.5rem;
  right: 2rem;
  border: pointer;
  color: #326E35;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  z-index: 3;
}

.arrow-icon-wrapper i {
  position: fixed;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  bottom: 8.5rem;
  right: 2rem;
  border: pointer;
  color: #326E35;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  z-index: 3;
}

@keyframes rotating {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.wayang-samping-kiri {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  width: 150px;
  height: 450px;
  margin-top: 190px;
}

.wayang-samping-kanan {
  z-index: 1;
  position: absolute;
  left: 81,1%;
  right: 0;
  width: 150px;
  height: 450px;
  margin-top: 190px;
}

.ornamen-pojokkiri-gift {
  z-index: 1;
  position: absolute;
  margin-top: 300px;
  margin-right: 250px;
  margin-left: 0;
  height: 250px;
  width: 200px;
}

.ornamen-sampingkiri-gift {
  z-index: 1;
  position: absolute;
  margin-top: 30px;
  margin-right: 250px;
  margin-left: 0;
  height: 200px;
  width: 200px;
}

.bunga-pojok-penutup {
  z-index: 1;
  position: absolute;
  margin-right: 0;
  margin-left: 250px;
  rotate: -180deg;
}

.bunga-sampingkanan-home {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 81,9%;
  margin-top: 130px;
  /* width: 60px; */
  height: 320px;
}

.bunga-sampingkiri-home {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 520px;
  /* width: 60px; */
  height: 320px;
}

.daun-sampingkanan-gift {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 81,9%;
  margin-top: -60px;
  /* width: 90px; */
  height: 170px;
}

.daun-sampingkiri-gift {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -60px;
  /* width: 90px; */
  height: 170px;
}

.wayang-sampingkiri-gift {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -30px;
  /* width: 100px; */
  height: 220px;
}

.wayang-sampingkanan-gift {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 81,9%;
  margin-top: -30px;
  /* width: 100px; */
  height: 220px;
}

.bunga-tengah-penutup {
  z-index: 1;
  position: absolute;
  width: 200px;
  height: 150px;
  margin-top: 90px;
}

#disqus_thread {
  padding-left: 20px;
  padding-right: 20px;
}

.form-label {
  font-size: 1.6rem;
  font-family: "Averia Serif Libre", serif;
  color: white;
}

.form-control {
  font-size: 1.6rem;
  border-radius: 10px;
}

.container-header {
  color: black;
  font-family: "Updock", cursive;
  font-size: 3rem;
  font-weight: 600;
}

.item {
  border-radius: 16px;
  margin-top: 16px;
  padding: 12px 24px 12px 24px;
  background: white;
  display: flex;
  align-items: center;
}


.item > .inner h2 {
  margin-bottom: unset;
  color: black;
  font-family: "Averia Serif Libre", serif;
  font-size: 2rem;
  font-weight: bolder;
}

.item > .inner p {
  margin-top: 5px;
  color: black;
  font-family: "Averia Serif Libre", serif;
  font-size: 1.6rem;
  font-weight: 500;
}

.form {
  display: flex;
  padding: 16px;
  flex-direction: column;
  height: 300px;
  border-radius: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 4px;
  font-size: 1.6rem;
  color: black;
  font-weight: 500;
  font-family: "Averia Serif Libre", serif;
}

.shadow {
  box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

input[type=text] {
  font-family: Raleway, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
  font-size: 24px;
}

textarea[type=text] {
  font-family: Raleway, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
  font-size: 24px;
}

.btn-submit {
  width: fit-content;
  font-family: "Averia Serif Libre", serif;
  border-radius: 16px;
  padding: 12px 24px;
  border: none;
  color: white;
  background-color: var(--ijodaun);
  font-size: 1.6rem;
  margin-top: auto;
  align-self: flex-end;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

input[type=text], textarea[type=text], .btn-submit:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.form-title {
  margin: auto 0;
}

.check-button {
  width: 40px;
  height: 40px;

  background: url('../fonts/assets-check-outline.svg');
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background: url('../fonts/assets-check-solid.svg');
  background-size: contain;
}

.trash-button {
  width: 40px;
  height: 40px;

  background: url('../fonts/assets-trash-outline.svg');
  color: black;
  margin-left: 16px;
  cursor: pointer;
  border: none;
}

.trash-button:hover {
  background: url('../fonts/assets-trash-fill.svg');
  color: #0457bb;
}

.undo-button {
  width: 40px;
  height: 40px;

  background: url('../fonts/assets-undo-ouline.svg');
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background: url('../fonts/assets-undo-ouline.svg');
  background-size: contain;
}

.check-button:focus, .trash-button {
  outline: none;
}

/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(80px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }

  .img-fluid-foto {
    /* width: 100%;
    height: 100%; */
  }

  .wayang-samping-kiri {
    margin-top: 10%;
  }
  
  .wayang-samping-kanan {
    margin-top: 10%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }

  .img-fluid-foto {
    /* width: 100%;
    height: 80%; */
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 100px;
    height: 100px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }

  .wayang-samping-kiri {
    width: 13%;
    height: 16%;
    margin-top: 50%;
  }
  
  .wayang-samping-kanan {
    width: 13%;
    height: 16%;
    margin-top: 50%;
  }

  .line {
    width: 60%;
  }

  /* .wayang-sampingkiri-gift {
    width: 30%;
    height: 25%;
  }

  .wayang-sampingkanan-gift {
    width: 30%;
    height: 25%;
  } */
}

/* mobile phone width 400*/
@media (max-width: 400px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 100px;
    height: 100px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }

  .wayang-samping-kiri {
    width: 13%;
    height: 16%;
    margin-top: 75%;
  }
  
  .wayang-samping-kanan {
    width: 13%;
    height: 16%;
    margin-top: 75%;
  }

  .line {
    width: 50%;
  }

  /* .wayang-sampingkiri-gift {
    width: 30%;
    height: 25%;
  }

  .wayang-sampingkanan-gift {
    width: 30%;
    height: 25%;
  } */

  /* .bunga-pojokkiri-penutup {
    width: 10%;
  }
  
  .bunga-pojokkanan-penutup {
    width: 10%;
  } */
}
